.blurredBackground {
  background: url("https://mobile965f75596afb4ca68a1e637998665f92161112-production.s3.amazonaws.com/public/CompanyStock/DownloadAllBackground.jpeg")
    no-repeat center center fixed;
  background-size: cover;
}

.pageWrapper {
  align-items: center;
  flex-direction: row;
}

.renderLogo {
  height: 10vh;
  width: 40vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: var(--size-large-padding);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemSpacer {
  margin-bottom: var(--size-small-padding);
  display: flex;
  justify-content: center;
}
.halfBarButtonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.errorMessage {
  text-align: center;
  color: red;
}
.buttonText {
  color: var(--color-primary);
  text-align: center;
}

.halfBarButtonHolder {
  width: 40vh;
}

.pageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (orientation: landscape) {
  .pageWrapper {
    justify-content: flex-start;
  }
  .contentContainer {
    height: 100%;
    width: 50%;
    margin-bottom: 10vh;
  }
}

@media (orientation: portrait) {
  .pageWrapper {
    justify-content: center;
  }
  .contentContainer {
    height: 100%;
    width: 100%;
    margin-bottom: 10vh;
  }
}
