@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --color-primary: #000028;
  --color-primary-90: #00002890;
  --color-secondary: #111d40;
  --color-accent-on: #fff;
  --color-accent-90: #ffffff90;
  --color-accent-off: #ffffff70
  --color-background: #000000;
  --color-all-good: #94ffdf;
  --font-p: 400 1.8rem "Inter";
  --size-standard-padding: 1rem;
  --size-small-padding: 0.75rem;
  --size-large-padding: 1.5rem;
  --size-xl-padding: 3rem;
  --shadow-box: rgba(0, 0, 0, 0.25) 0px 14px 28px,
  rgba(0, 0, 0, 0.22) 0px 10px 10px;
  --shadow-text: rgba(0, 0, 0, 0.25) 0px 14px 28px,
  rgba(0, 0, 0, 0.22) 0px 10px 10px; 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: var(--color-accent-on);
  background: var(--color-secondary);
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  text-shadow: var(--shadow-text);
  line-height: 1rem;
  margin: 2.5rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 500;
  text-shadow: var(--shadow-text);
  line-height: 1rem;
  margin: 2rem 0;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: var(--shadow-text);
  line-height: 1rem;
  margin: 1.5rem 0;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  text-shadow: var(--shadow-text);
  line-height: 1rem;
  margin: 1rem 0;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  text-shadow: var(--shadow-text);
  line-height: 1rem;
  margin: 1rem 0;
}

small {
  font-size: 1.25rem;
  font-weight: 500;
}

main {
  padding: 2rem 2rem;
  height: 100vh;
  display: flex;
}

.fullBarInput {
  display: flex;
  align-items: center;
  background-color: var(--color-accent-90);
  width: 40vh;
  height: 3.25rem;
  border-radius: 0.75rem;
  padding: 0.75rem;
  box-shadow: var(--shadow-box);
  font: var(--font-p);
  color: var(--color-primary);
  outline: none !important;
  border-color: transparent;
}
.fullBarInput:focus {
  background-color: var(--color-accent-on);
}
.fullBarInput::placeholder {
  color: var(--color-primary-90);
}

.halfBarButton {
  display: flex;
  align-items: center;
  background-color: var(--color-accent-90);
  width: 19vh;
  height: 3.25rem;
  border-radius: 0.75rem;
  padding: 0.75rem;
  outline: none;
  border-color: transparent;
  box-shadow: var(--shadow-box);
  transition: background-color 0.25s;
  justify-content: center;
}
.halfBarButton:focus {
  background-color: var(--color-accent-on);
}