.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentHolder {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-box);
  border-radius: var(--size-large-padding);
  padding: var(--size-large-padding);
  align-items: center;
}

.fadedText {
  color: var(--color-accent-90);
}

.logOutText {
  color: var(--color-primary);
}

#confirmInput[data-text="CONFIRM"] {
  background-color: #94ffdf;
}

@media (orientation: landscape) {
  .downloadBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  .boxInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .downloadWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #confirmInput {
    margin-right: var(--size-standard-padding);
  }
  .infoTextHolder {
    display: flex;
    margin-top: var(--size-small-padding);
    margin-bottom: var(--size-standard-padding);
  }
  .dowloadInfoText {
    color: var(--color-accent-90);
    text-align: center;
  }
  .confirmBox {
    margin: var(--size-standard-padding);
    display: flex;
    flex-direction: row;
  }
  .lineDivider {
    width: 100%;
    height: calc(var(--size-small-padding) / 2);
    background-color: var(--color-accent-90);
    margin: var(--size-small-padding);
    box-shadow: var(--shadow-box);
    border-radius: var(--size-small-padding);
  }
  .nameBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .contentHolder {
    height: 80vh;
    width: 80vh;
    background-color: var(--color-primary);
  }
}
