.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contentHolder {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-box);
  border-radius: var(--size-large-padding);
  padding: var(--size-large-padding);
  align-items: center;
  justify-content: center;
}

.downloadHeader[data-downloading="true"] {
  color: var(--color-all-good);
}

.fadedText {
  color: var(--color-accent-90);
}

.darkText {
  color: var(--color-primary);
}

#confirmInput[data-text="CONFIRM"] {
  background-color: var(--color-all-good);
}

.downloadBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.boxInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.downloadWrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: var(--size-small-padding);
}

.infoTextHolder {
  display: flex;
  margin-top: var(--size-small-padding);
  margin-bottom: var(--size-standard-padding);
}

.dowloadInfoText {
  color: var(--color-accent-90);
  text-align: center;
}

.nameBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (orientation: landscape) {
  .pageWrapper {
    height: 100vh;
  }
  .contentHolder {
    height: 80vh;
    width: 80vh;
    background-color: var(--color-primary);
  }
  .confirmBox {
    margin: var(--size-standard-padding);
    display: flex;
    flex-direction: row;
  }
  #confirmInput {
    margin-right: var(--size-standard-padding);
  }
  .downloadWrapper {
    border: calc(var(--size-small-padding) / 4) solid var(--color-accent-90);
    box-shadow: var(--shadow-box);
    border-radius: var(--size-xl-padding);
    padding: var(--size-small-padding);
    margin: var(--size-small-padding) 0;
  }
}

@media (orientation: portrait) {
  .pageWrapper {
    height: 100%;
  }
  .contentHolder {
    height: 80vh;
    width: 95vw;
    background-color: var(--color-primary);
  }
  .confirmBox {
    margin: var(--size-standard-padding);
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  #confirmInput {
    margin-bottom: var(--size-standard-padding);
  }
}
